<apex:page controller="acfCustomerRegisterController" sidebar="false" cache="false"  standardStylesheets="false" showHeader="false" > 
   <script>
        function cmethod(){
            confirm("Confirm Do you really want to add this product?");
        }
       window.onload=function(){
    
        document.getElementById('txtEmail').value= 'enter your email';
      
        }
        
    </script>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link href="http://externalcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<title>Landing page</title>
<!-- <link href="{!URLFOR($Resource.acfResources, 'acfResources/css/layout.css')}" rel="stylesheet" type="text/css"/> -->
<apex:stylesheet value="{!URLFOR($Resource.acfResources, 'acfResources/css/layout.css')}"/>

<!--script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/js.js')}"></script>
<script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/nav.js')}"></script>
<script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/html5.js')}"></script>-->
<apex:includeScript value="{!URLFOR($Resource.acfResources, 'acfResources/js/js.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.acfResources, 'acfResources/js/nav.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.acfResources, 'acfResources/js/html5.js')}"/>
<style type="text/css">
    @font-face {
        font-family: 'open_sanslight';
        src: url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.eot')}");
        src: url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.eot?#iefix')}") format('embedded-opentype'),
             url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.woff2')}") format('woff2'),
             url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.woff')}") format('woff'),
             url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.ttf')}") format('truetype'),
             url("{!URLFOR($Resource.acfResources, 'acfResources/fonts/opensans-light-webfont.svg#open_sanslight')}") format('svg');
        font-weight: normal;
        font-style: normal;    
    }
    
    .sprite{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    .input-box + ul.bank-list li:before{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    a.mcafee:before{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}"); 
    }
    .button{
        background:#1f8acb url("{!URLFOR($Resource.acfResources, 'acfResources/images/airow.png')}") 93% 28px no-repeat;
    }
    .button.getstarted{
        background:#1f8acb url("{!URLFOR($Resource.acfResources, 'acfResources/images/airow.png')}") 93% 20px no-repeat;
    }
    .work-list .cate-box span.quote:before,
    .work-list .cate-box span.application:before,
    .work-list .cate-box span.disclousure:before,
    .work-list .cate-box span.docs:before{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}"); 
    }
    a.viewmore:after,
    a.viewmore-feature:after{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    .footer-social a.f-icon,
    .footer-social a.link-icon,
    .footer-social a.t-icon,
    .footer-social a.u-icon{
        background:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    a.responsive-menu{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    .button.getstarted{
        background:#1f8acb url("{!URLFOR($Resource.acfResources, 'acfResources/images/response-airow.png')}") 85% 14px no-repeat;
    }
    .button.question{
        background:#1f8acb url("{!URLFOR($Resource.acfResources, 'acfResources/images/response-airow.png')}") 85% 14px no-repeat;
    }
    .baner-colum span.anzbank:before,
    .baner-colum span.westpack:before,
    .baner-colum span.nab:before,
    .baner-colum span.cwb:before{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    .set-up-row  .set-up-box + span{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    p.creat-acount:before{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
   .setup-box
    {
     left:26% !important;
    }
    .ProductsClass{
    font-family: 'open_sanslight';
    font-size: 1.1em;
    display: inline-block;
    text-decoration: none;
    color: #1f8acb;
    border-right: 1px #cbcbcb solid;
    padding: 0px 10px;
    line-height: 20px;
    overflow: hidden;
    font-weight: bold;
    }
</style>
</head>
<body>
 <main class="container-fluid" id="mcId">
    <!--<form method="post" action="#" class="pop-up-form" style="display:none;">-->
    <apex:form id="fid" styleClass="pop-up-form" rendered="{!showformVar}">
        <div class="faded">&nbsp;</div>
        <section class="setup-box">
            <hgroup >
                <h3 class="h3"  style="display: block;">Setup your <span class="upd-bold">account</span></h3>
                <h4 class="h4" style="color: #666666;font-size: 1.1em;padding-top: 10px;padding-bottom: 15px;display: block;">You’ll need these to log in back later</h4>
            </hgroup> 
            <div class="hr-color">&nbsp;</div>
            <!-- ============ for email and mobile ================ -->
            <apex:outputPanel id="pnlEmailVerify">
            <apex:outputPanel rendered="{!mob_email_verify}">    
            <apex:pageMessages ></apex:pageMessages>                        
            <apex:actionFunction name="VerifyMail" action="{!VerifyEmail}" rerender="txtEmail" status="Loadstatus"/><!-- pnlEmailVerify -->
                    
            <div class="set-up-row" style="position:relative;">
            <apex:actionstatus id="Loadstatus" starttext="verifying">
                <apex:facet name="start">
                    <apex:image url="{!$Resource.LoadingImg}" height="35" width="35" style="position:absolute; right:280px; top:7px;"/>                      
                </apex:facet>
            </apex:actionStatus>
            <apex:outputPanel rendered="{!if(strmsg != null && strmsg != '', true,false)}" style="color:red;margin-bottom:20px;"><p>{!$Label[strmsg]}</p></apex:outputPanel>
            <apex:inputText id="txtEmail" value="{!username}" styleClass="set-up-box col-md-6  col-sm-10" onBlur="if (this.value == '') {this.value = 'Enter your E-Mail';} VerifyMail();" onFocus="if (this.value == 'Enter your E-Mail') {this.value = '';}" />             
            <span style="position: relative;top: -10px;{!IF(isEmailVeriried,'','display:none;')}">&nbsp;</span> 
            <p class="setup-prgph">This will serve as your username</p>                     
            </div>             
                
            <div class="set-up-row">
            <apex:inputText value="{!mobile}" styleClass="set-up-box col-md-6  col-sm-10" onBlur="if (this.value == '') {this.value = 'Mobile Number';}" onFocus="if (this.value == 'Mobile Number') {this.value = '';}"/>
            <span style="display:none;">&nbsp;</span>
            <p class="setup-prgph">We will send your account verfication code here</p>                      
            </div>
                    
            <div class="set-up-row auto dis-block">
            <apex:commandLink action="{!Registration}" styleClass="btn col-md-12" value="Create Account" reRender="mob_verify,pnlEmailVerify"/>                
            </div>
            </apex:outputPanel>
            </apex:outputPanel>
            <!-- ============ /for email and mobile ================ -->
            
            <!-- ============ for otp ================ -->
            <apex:outputPanel id="mob_verify">
            <apex:outputPanel rendered="{!mob_verify}">
            <!-- ============ for enter otp ============ -->
            <div class="set-up-row">                    <!--  -->
            <apex:inputText value="{!mobile_otp}" styleClass="set-up-box col-md-6  col-sm-10" onBlur="if (this.value == '') {this.value = 'OTP Password';}" onFocus="if (this.value == 'OTP Password') {this.value = '';}"/>
            <span style="display:none;">&nbsp;</span>
            <p class="setup-prgph">Please Enter 6 digit OTP here</p>                      
            </div>
                    
            <div class="set-up-row auto dis-block">        <!-- btn-question comp-fl-right -->
            <apex:commandLink action="{!verifyOTP}" styleClass="btn col-md-12" value="Verify OTP" />  
            </div>
            <!-- ============ /for enter otp ============ -->
                                                                        <!-- <div class="clearfix"></div> -->
            <!-- ============ for enter resend otp ============ -->    
            <div class="set-up-row">                    
            <apex:inputText value="{!mobile_num}" styleClass="set-up-box col-md-6  col-sm-10" />
            <span style="display:none;">&nbsp;</span>
            <p class="setup-prgph">Your Mobile Number</p>                      
            </div>
                
            <div class="set-up-row auto dis-block">
            <apex:commandLink action="{!resendOTP}" styleClass="btn col-md-12" value="Resend OTP" />
            </div> 
            <!-- ============ /for enter resend otp ============ -->       
            </apex:outputPanel>
            </apex:outputPanel>
            <!-- ============ /for otp ================ --> 
                                             
            <div class="clearfix"></div>                        
            <p class="creat-acount">Don’t worry, it’s free and your details are safe with us</p>                                 
        </section>
    </apex:form>
    <!--  </form> --> 
    <header class="row-fluid">
    <div class="header">
        <div class="container">
            <div class="row-fluid">
            <h1 class="col-md-4">
                <div class="logo"><a href="#"><img src="{!URLFOR($Resource.acfResources, 'acfResources/images/logo.jpg')}" alt="click Refi"/></a></div> 
            </h1><!--col-md-4 close-->
            
          <section class="col-md-8"> 
            <aside>
                <a href="#" class="responsive-menu" id="responsive">&nbsp;</a>
                    <ul class="sub-response" id="sub-res">
                        <li><a href="#">1300 CLICK REFI <span class="span-text">Talk to a Human</span></a></li>
                    </ul>
                            
                <div class="top-tab id-verification">
                    <ul>
                        <li><a href="#">1300 CLICK REFI <span class="span-text">Talk to a Human</span></a></li>
                    </ul>
                </div><!--top-tab close-->
            </aside> <!--aside clos-->    
         </section><!--col-md-8 close-->
            
        </div><!--row fluid close 2nd-->
        </div><!--container close-->
    </div><!--header close-->
</header><!--row fluid close-->

<section class="row-fluid slider">
    <div class="container">
        <div class="row-fluid"> 
           <div class="col-sm-12 col-md-8">
           <article style="margin-left: 25px;">
                <h2 class="slide-heading">Here are your <span class="upd-bold">top 3 options</span></h2>
                <p class="slide-peregraph">Select your preferred option. Don’t worry, you can change this later.</p>
            </article>

          <div class="clearfix"></div> 
        
           <apex:repeat value="{!stwrapper}" var="pvar">  
            <section>
            <ul class="refince-list">
                    <li class="col-md-8 col-sm-12" style="float:left;width:65%;">
                    <section class="row-fluid">
                     <hgroup class="col-md-11 col-sm-12 compare-list-box2">
                        <nav class="comp-rates"> 
                                   
                      <a href="#" class="ProductsClass" style="border-right-style: none;"> {!pvar.wrap_pObj.ACF_Interest_Rate__c}% {!pvar.wrap_pObj.ACF_Payment_mode__c} | {!pvar.wrap_pObj.ACF_Comparison_Rate__c}% Comparison Rate</a>
                      <section class="rating-main">&nbsp;&nbsp;
                        <apex:repeat value="{!rateMap[pvar.wrap_pObj.id]}" var="rate">                       
                        <img src="{!URLFOR($Resource.starimage)}" alt="img"/>
                        </apex:repeat>&nbsp;&nbsp;
                        <span class="comp-text">{!pvar.wrap_pObj.acfRating__c}/5</span>
                        </section>
                        </nav>
                     </hgroup>
                   </section>
                   </li>  
                   <li class="col-md-4 col-sm-12" style="width:25%;float:right;"> 
                    <section class="row-fluid">
                     <hgroup class="col-md-11 col-sm-12 compare-list-box2">
                        <h3 class="h3 comph3" style="display:block;">Est Montly Payment</h3>
                        <h4 class="h4 comph4" style="display:block;">${!pvar.wrap_pObj.ACF_Est_Monthly_Payment__c}</h4>
                     </hgroup>
                   </section>  
                 </li>                 
             </ul>
             </section> 
            </apex:repeat>               
       <section class="col-md-12">  
           <apex:form >     
           <apex:commandLink action="{!Login}" styleClass="btn-question comp-fl-right" value="Continue" style="margin-right:0px;"/>          
            <!--<a href="#" class="btn-question comp-fl-right">Continue</a>-->
            </apex:form>
       </section>
        </div><!--colxs-8 close-->        
        
        <div class="col-sm-12 col-md-4 id-verifie-right">
          <figure class="verification-section">
            <figacaption>
             <!--   <hgroup>
                    <h3 class="h3">QUESTION</h3>
                    <h4 class="h4">1 / 7</h4>
                </hgroup>-->
            </figacaption>
                <!--img src="{!URLFOR($Resource.acfResources, 'acfResources/images/slide-img.png')}" class="rotate-img" alt="Click Refi"/-->
            </figure>
                   
        </div><!--colum 5 image section close-->
        </div>
     </div><!--container close-->
 </section><!--slider section close-->



<!---Footer start here--------------->
<footer class="inner-footer row-fluid">
    <div class="container">
        
  <div class="row-fluid">
    <article class="col-md-9 col-sm-12  col-md-9">
    <div class="row-fluid inner-footer-article">
        <p>Click Refi (Credit Representative 439889) is authorised under Click Refi Number 442372 which is licensed under the National Consumer Credit Protection Act 2009. Please click here to read our Credit Guide and here for our Privacy Policy. We will never sell your email address to any 3rd party or send you nasty spam. Promise. Find your dream home at Realestate.com.au or Domain.com.au or for independent information visit your local Real Estate Institute or the Real Estate Institute of Australia (REIA). We are members of the Mortgage  Finance Assoc of Australia (MFAA) and Credit Ombudsman Service Ltd www.cosl.com.au. Our Property Valuation Reports are sourced from RP Data. The comparison rates are based on a loan amount of $150,000 over a loan term of 25 years. </p>
        <p>WARNING: This comparison rate is true only for the example given and may not include all fees and charges. Different terms, fees or other loan amounts might result in a different comparison rate. All applications for credit are subject to lender credit approval criteria. </p>
        <p>GENERAL ADVICE WARNING: Please note that any finance and insurance advice given is general advice only and does not take into account your individual objections, financial situation or needs. Before using this advice to decide whether to purchase any finance or insurance products, you should consider the appropriateness of it having regard to your personal circumstances, plus obtain current Product Disclose Statement for the insurance policy.</p>
    </div>
    </article>
    <aside class="col-md-3 col-sm-12 col-md-3">
        <div class="mcafe-sec-inner">
            <p><strong>Online Security:</strong> Protect Against Fraud</p>
            <a href="#" class="mcafee">&nbsp;</a>
        </div>
    </aside><!--aside close-->
  </div><!--row fluid close-->
  
    </div><!--container close-->
</footer><!--footer close--> 
 
 </main>
</body>
</html>
</apex:page>