<apex:page showHeader="false" standardStylesheets="false" controller="acfCustomerRegisterController" cache="false" >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link href="http://externalcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<title>Question Stage1</title>
<link href="{!URLFOR($Resource.acfResources, 'acfResources/css/layout.css')}" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/nav.js')}"></script>
<script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/html5.js')}"></script>
 <apex:includeScript value="{!URLFOR($Resource.postcodeJS,'jquery.min.js')}"/>   
 <apex:includeScript value="{!URLFOR($Resource.postcodeJS,'jquery-ui.min.js')}"/>   
 <apex:includeScript value="{!URLFOR($Resource.postcodeJS,'jsNew.js')}"/>   
 <apex:includeScript value="{!URLFOR($Resource.postcodeJS,'jquery.ui.addresspicker.js')}"/>   
</head>
<script>
 $(document).ready(function ()
    {
        $('#MemberLogin').click(function () 
        {
          $('#MemberLoginPopUp').removeClass('displaynone');
        });
        $('#divfaded').click(function () 
        {
          $('#MemberLoginPopUp').addClass('displaynone');
        });
    });
</script>
<style>
.inputf{
    margin-top:45px;
    width: 322px;
    height: 52px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border-radius: 8px;
    height: 52px;
    -webkit-appearance: none;
    color: #223972;

}
.question-input:before
{
   background-image:url('') !important;
   top:130px;
}
   .displaynone
   {
        display:none;
    }
    .messageCell h4
    {
        display:none;!important
       
    }
    .messageCell
    {
       color:red;!important
        font-weight:10px;!important
        text-align:center;!important
      
    }
    ul[role="listbox"]{
        position: absolute !important;
        top: 360px !important;
        left: 180px !important;
    }
</style>
<body>
<apex:form >
<main class="container-fluid">
<!--Setup Account Start here----->
   <div id="MemberLoginPopUp" Class="pop-up-form displaynone">
        <div id="divfaded" class="faded">&nbsp;</div>
        <section class="setup-box">
          <center> <br/><hgroup>
                <h3 class="h3">Member Login</h3>
                <h4 class="h4"></h4>
            </hgroup> </center> 
            <div class="hr-color">&nbsp;</div>
                <apex:outputPanel id="optErrors">    
                    <center><apex:pageMessages ></apex:pageMessages></center>
                </apex:outputPanel>    
                    <div class="set-up-row">
                    <apex:outputPanel rendered="{!if(strmsg != null && strmsg != '', true,false)}" style="color:red;margin-bottom:20px;"><p>{!strmsg}</p></apex:outputPanel>
                    <!--  <input type="email" name="user" class="set-up-box col-md-6  col-sm-10" value="enter your e-mail" onBlur="if (this.value == '') {this.value = 'enter your e-mail';}" onFocus="if (this.value == 'enter your e-mail') {this.value = '';}"/>-->
                      <apex:inputText value="{!strusername}" styleClass="set-up-box col-md-6  col-sm-10" onBlur="if (this.value == '') {this.value = 'enter your e-mail';}" onFocus="if (this.value == 'enter your e-mail') {this.value = '';}"/>
                      <span style="display:none;">&nbsp;</span>
                      <p class="setup-prgph">Please enter username</p>
                    </div>                  
                    <div class="set-up-row">
                   <!-- <input type="text" name="account" class="set-up-box col-md-6  col-sm-10" value="mobile number" onBlur="if (this.value == '') {this.value = 'mobile number';}" onFocus="if (this.value == 'mobile number') {this.value = '';}"/>-->
                       <apex:inputSecret value="{!strPassword}"  styleClass="set-up-box col-md-6  col-sm-10" onBlur="if (this.value == '') {this.value = 'mobile number';}" onFocus="if (this.value == 'mobile number') {this.value = '';}"/>
                      <span style="display:none;">&nbsp;</span>
                       <p class="setup-prgph">Please enter password</p>                      
                       
                       <div>
                         <a href="#" style="color:#223972;font-size:12px;"> Forgot password</a>
                       </div>
                 </div>  
                <div class="set-up-row auto">
                 <apex:commandLink action="{!UserLogin}" styleClass="btn-question comp-fl-right" value="Login" reRender="optErrors"/> 
                </div> 
               <div class="clearfix"></div>                                                       
          </section>
    </div>
<!-- --------------------------------------------------------------------- -->  
<!--Setup Account close here----->
   <header class="row-fluid">
        <div class="header" style="width:($(window).width() / 2);">
            <div class="container">
                <div class="row-fluid">
                <h1 class="col-md-4"> <!-- new: col-md-4, old:col-xs-4 -->
                    <div class="logo"><a href="#"><img src="{!URLFOR($Resource.acfResources, 'acfResources/images/logo.jpg')}" alt="click Refi"/></a></div>
                </h1>      
              <section class="col-md-8">
                     <aside>
                <a href="#" class="responsive-menu" id="responsive">&nbsp;</a>
                    <ul class="sub-response" id="sub-res">
                        <li><a href="#">1300 CLICK REFI <span class="span-text">Talk to a Human</span></a></li>
                    </ul>
                            
                <div class="top-tab id-verification">
                    <ul>
                        <li><a href="#">1300 CLICK REFI <span class="span-text">Talk to a Human</span></a></li>
                    </ul>
                </div><!--top-tab close-->
            </aside> <!--aside clos-->   
             </section><!--col-md-8 close-->
                
            </div><!--row fluid close 2nd-->
            </div><!--container close-->
        </div><!--header close-->
    </header><!--row fluid close-->
<!--<header class="row-fluid">
 <c:acfHeader />
</header>-->

<section class="row-fluid slider">
    <div class="container clsrotator">
        <div class="row-fluid">           
            <div class="col-sm-12 col-md-4 id-verifie-right">
             <nav class="iner-navtab">
                <ul>
                  <apex:repeat value="{!currentQList}" var="Qvar">
                      <li class="{!IF(OR(Qvar==intCurrentQsNo,Qvar<=intCurrentQsNo),'active','stage-icon')}"><span class="{!IF(OR(Qvar==intCurrentQsNo,Qvar<=intCurrentQsNo),'stage-icon active','stage-icon')}">{!Qvar}</span><a href="#" class="{!IF(OR(Qvar==intCurrentQsNo,Qvar<=intCurrentQsNo),'active','')}">Stage{!Qvar}</a></li>
                   </apex:repeat>
                  
                  <!--  <li><span class="stage-icon">4</span><a href="#">Stage4</a></li>
                    <li><span class="stage-icon">3</span><a href="#">Stage3</a></li>
                    <li><span class="stage-icon">2</span><a href="#">Stage2</a></li> -->    
                </ul>
               </nav>
                <img src="{!URLFOR($Resource.acfResources, 'acfResources/images/slide-inner.png')}" class="update-slide-img" alt="Click Refi"/>           
             </div><!--colum 5 image section close-->
             <apex:repeat value="{!lstWrapper}" var="obj">
             <div class="col-sm-12 col-md-8 question-slider">
                <article>
                    <h2 class="slide-heading">{!obj.objWQuestion.acfQuestion_Name__c}</h2>
                    <p class="slide-peregraph">{!obj.objWQuestion.acf_Description__c}</p>
                    <apex:outputPanel rendered="{!if(strmsg != null && strmsg != '', true,false)}" style="color:red;margin-top:20px;"><p>{!$Label[strmsg]}</p></apex:outputPanel>
                    
                    <apex:inputText id="addresspicker_map" styleclass="inputf" style="color:#9e9d9d;font-weight:normal;" value="{!strInput}" rendered="{!if(obj.objWQuestion.acf_Type_IsPiclikst__c== false,true,false)}" />
                    <apex:outputPanel rendered="{!if(obj.objWQuestion.acf_Type_IsPiclikst__c == true,true,false)}">
                        <div class="question-input">
                            <apex:selectList value="{!SalesExecutive }" multiselect="false" size="1" style="font-weight:normal; color: #9e9d9d"> 
                                <apex:selectOptions value="{!obj.objSelectOpt}"></apex:selectOptions>
                            </apex:selectList>
                        </div>
                    </apex:outputPanel>
                    
                </article> 
                <div class="clearfix"></div> 
                
                <apex:commandButton value="Continue" styleclass="btn-question q-right" action="{!INdexIncremnt}"/>        
        </div><!--colxs-8 close-->
          </apex:repeat>  
        </div>
     </div><!--container close-->
 </section><!--slider section close-->
<!---Footer start here--------------->
<footer class="inner-footer row-fluid">
<c:acfFooter />
</footer><!--footer close-->

</main><!--main div close-->
</apex:form>
</body>
</html>

</apex:page>