<apex:page sidebar="false" standardStylesheets="false" showHeader="false" docType="html-5.0" cache="false"  applyHtmlTag="true" standardController="lead">
    <link href="{!URLFOR($Resource.datepick)}" rel="stylesheet" />
   <apex:includeScript value="{!URLFOR($Resource.postcodeJS,'jquery.min.js')}"/>
   <apex:includeScript value="{!URLFOR($Resource.DatePickerJS,'JqueryDatePick/jquery.plugin.js')}"/>
   
    <apex:includeScript value="{!URLFOR($Resource.DatePickerJS,'JqueryDatePick/jquery.datepick.js')}"/>
   <script>
$(function() {
    $('.popupDatepicker').datepick();
    $('#inlineDatepicker').datepick({onSelect: showDate});
});

function showDate(date) {
    alert('The date chosen is ' + date);
}
</script>
   
    <apex:form >
  <!--   <div class='input-group date' id='datetime1' data-date-format="DD/MM/YYYY">
                           <apex:inputfield styleClass="form-control"  id="dob1" value="{!lead.Sugar_Date_Created__c}" showdatepicker="false"/>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                            </span>
                          </div>-->
        <apex:inputText styleClass="popupDatepicker" />
     <div id="inlineDatepicker"></div>
    </apex:form>
    
    
    
    
</apex:page>