<apex:page docType="html" standardStylesheets="false" id="pageId" showHeader="false" controller="acfViewDetailsController" cache="false" action="{!redirect}">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link href="http://externalcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<title>Detail</title>
<link href="{!URLFOR($Resource.acfResources, 'acfResources/css/layout.css')}" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/nav.js')}"></script>
<script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/html5.js')}"></script>
<script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/jquery.glide.min.js')}"></script>
<script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/slide.js')}"></script>
<apex:includeScript value="{!URLFOR($Resource.postcodeJS,'jquery.min.js')}"/>   
<apex:includeScript value="{!URLFOR($Resource.postcodeJS,'jquery-ui.min.js')}"/>   
<apex:includeScript value="{!URLFOR($Resource.postcodeJS,'jsNew.js')}"/>   
<apex:includeScript value="{!URLFOR($Resource.postcodeJS,'jquery.ui.addresspicker.js')}"/>  
<script type="text/javascript" src="{!$Resource.TypeheadAutocomplete}" /> 
</head>
<style>
.helptext{
    position: absolute;
    border: 2px solid #cccccc;
    background: #f2f2f2;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    top: -67px;
 }
.displaynone{
    display:none;
}
</style>
<script>
$(document).ready(function ()
    {
    $('#helptxtId').mouseenter(function () 
        {
            $('#amountId').removeClass('displaynone'); 
        });
    $('#helptxtId').mouseleave(function () 
        {
            $('#amountId').addClass('displaynone'); 
        });
    $('#helptxtId2').mouseenter(function () 
        {
            $('#amount2Id').removeClass('displaynone'); 
        });
    $('#helptxtId2').mouseleave(function () 
        {
            $('#amount2Id').addClass('displaynone'); 
        });     
    $('#helptxtId3').mouseenter(function () 
        {
            $('#interestId').removeClass('displaynone'); 
        });
    $('#helptxtId3').mouseleave(function () 
        {
            $('#interestId').addClass('displaynone'); 
        }); 
    $('#helptxtId4').mouseenter(function () 
        {
            $('#amount3Id').removeClass('displaynone'); 
        });
    $('#helptxtId4').mouseleave(function () 
        {
            $('#amount3Id').addClass('displaynone'); 
        }); 
    $('#helptxtId5').mouseenter(function () 
        {
            $('#comRateId').removeClass('displaynone'); 
        });
    $('#helptxtId5').mouseleave(function () 
        {
            $('#comRateId').addClass('displaynone'); 
        });      
    $('#helptxtId6').mouseenter(function () 
        {
            $('#amount4Id').removeClass('displaynone'); 
        });
    $('#helptxtId6').mouseleave(function () 
        {
            $('#amount4Id').addClass('displaynone'); 
        }); 
    $('#helptxtId7').mouseenter(function () 
        {
            $('#appFeeId').removeClass('displaynone'); 
        });
    $('#helptxtId7').mouseleave(function () 
        {
            $('#appFeeId').addClass('displaynone'); 
        }); 
    $('#helptxtId8').mouseenter(function () 
        {
            $('#ongoingFeeId').removeClass('displaynone'); 
        });
    $('#helptxtId8').mouseleave(function () 
        {
            $('#ongoingFeeId').addClass('displaynone'); 
        });
    $('#helptxtId9').mouseenter(function () 
        {
            $('#valuationFeeId').removeClass('displaynone'); 
        });
    $('#helptxtId9').mouseleave(function () 
        {
            $('#valuationFeeId').addClass('displaynone'); 
        }); 
    $('#helptxtId10').mouseenter(function () 
        {
            $('#legalFeeId').removeClass('displaynone'); 
        });
    $('#helptxtId10').mouseleave(function () 
        {
            $('#legalFeeId').addClass('displaynone'); 
        });  
        
    });

</script>
<body>
<c:acfHeadermobileMenu ></c:acfHeadermobileMenu>
<main class="container-fluid add-body">
<header class="row-fluid">
    <c:acfHeader />
</header >
<div class="clearfix"></div>

<section class="dashboard">
    <div class="container">
    <c:acfAccountDetail ></c:acfAccountDetail>
     <div class="clearfix"></div>
       <c:acfProgressBarAndTabs ></c:acfProgressBarAndTabs> 
        <div class="clearfix"></div>
        <apex:form >
        <section class="tabing-content">
        <article class="col-md-12 col-sm-12 detail-sec">
       
            <section class="row-fluid">
                <article class="col-md-9 col-sm-12">
                  <div class="row-fluid" style="margin-left:2px;">
                    <h3 class="h3"><apex:outputtext value="{!objwrapperOppDetails.oppcurrentLender}"/></h3>
                    <p class="detail-prgph"><apex:outputtext value="{!objwrapperOppDetails.strProdDescription}"/></p>
                   </div>
                 </article>
                <aside class="col-md-3 col-sm-12">
                    <div class="row-fluid raiting-sec">
                        <apex:repeat value="{!objwrapperOppDetails.lstProductRating}" var="rate">
                            <img src="{!URLFOR($Resource.acfResources, 'acfResources/images/detail-raiting-active.png')}" alt="img"/>             
                        </apex:repeat>
                        <apex:outputPanel rendered="{!objwrapperOppDetails.IsDisplayHalfStar}">
                            <img src="{!URLFOR($Resource.acfResources, 'acfResources/images/detail-raiting-half.png')}" alt="img"/>
                        </apex:outputPanel> &nbsp;&nbsp;
                         <span class="comp-text">{!objwrapperOppDetails.strRating}</span>
                      </div><!--raiting close-->
                  </aside>
               </section> <!--detail section close-->  
            
    <section class="col-md-12 col-sm-12 loan-detail">
    
             <header class="row-fluid">
                <h4 class="h4">Loan Details</h4>
            </header>
             <article class="row-fluid">                
             <div class="col-md-12 col-sm-12">
                 <ul class="row-fluid detail-sub-heading">
                    <li class="col-md-3 col-sm-12">
                        <div class="loan_detail_custom">
                         <div class="row-fluid strong-text strong-text2">
                             {!objwrapperOppDetails.oppAmount}<a href="#">Loan Amount</a>
                            </div>
                         </div>
                        </li>
                        
                    <li class="col-md-3 col-sm-12">
                        <div class="loan_detail_custom">
                         <div class="row-fluid strong-text strong-text2">
                             {!objwrapperOppDetails.oppInterestRate}<a href="#">Interest Rate</a>
                            </div>
                         </div>
                        </li>
                        
                    <li class="col-md-3 col-sm-12">
                        <div class="loan_detail_custom">
                         <div class="row-fluid strong-text strong-text2">
                             {!objwrapperOppDetails.oppCompRate}<a href="#">Comparison Rate</a>
                            </div>
                         </div>
                        </li>                                                
                    </ul>
                </div>                
   		</article>                 
    </section> 
    
    <section class="col-md-12 col-sm-12 loan-detail">
    
             <header class="row-fluid">
                <h4 class="h4">Loan Features</h4>
            </header>
            
            
            <article class="row-fluid">
                <section class="col-md-12">
                    <ul class="row-fluid loan-feature-heading">
                        <li class="col-md-3 col-sm-12">
                             <span class="{!If(objwrapperOppDetails.oppaddrepay,'lfeatur-right','lfeatur-cancle')}">&nbsp;</span>
                            <div class="row-fluid">Add Repayments</div>
                        </li>
                        
                        <li class="col-md-3 col-sm-12">
                            <span class="{!If(objwrapperOppDetails.oppInterest,'lfeatur-right','lfeatur-cancle')}">&nbsp;</span>
                            <div class="row-fluid">Interest Only</div>
                        </li>
                        
                        <li class="col-md-3 col-sm-12">
                            <span class="{!If(objwrapperOppDetails.oppDebitcard,'lfeatur-right','lfeatur-cancle')}">&nbsp;</span>
                            <div class="row-fluid">Debit Card</div>
                        </li>                                                
                    </ul>
                </section>
                
                <section class="col-md-12 col-sm-12">
                    <ul class="row-fluid loan-feature-heading">
                        <li class="col-md-3 col-sm-12">
                            <span class="{!If(objwrapperOppDetails.oppOffsetAcc,'lfeatur-right','lfeatur-cancle')}">&nbsp;</span>
                            <div class="row-fluid">Offset Account</div>
                        </li>
                        
                        <li class="col-md-3 col-sm-12">
                            <span class="{!If(objwrapperOppDetails.oppRedraw,'lfeatur-right','lfeatur-cancle')}">&nbsp;</span>
                            <div class="row-fluid">Redraw</div>
                        </li>
                        
                        <li class="col-md-3 col-sm-12">
                            <span class="{!If(objwrapperOppDetails.oppMultiplesplits,'lfeatur-right','lfeatur-cancle')}">&nbsp;</span>
                            <div class="row-fluid">Multiple Splits</div>
                        </li>                                                
                    </ul>
                </section>                
                               
            </article>
      </section> 
      
      
    <section class="col-md-12 col-sm-12 loan-detail">
    
             <header class="row-fluid">
                <h4 class="h4">Loan Fees</h4>
            </header>
            
            
            <article class="row-fluid">
                <div class="col-md-6 col-sm-12">
                    <ul class="row-fluid detail-sub-heading">
                        <li class="col-md-5">
                            <div class="row-fluid">Application Fee</div>
                        </li>
                        <li class="col-md-5">
                            <div class="row-fluid strong-text"><strong>{!objwrapperOppDetails.oppAppfee}</strong>
                                <ul class="helptext displaynone" id="appFeeId">This is your current Loan Application Fee.</ul>
                            </div>
                        </li>
                        <li class="col-md-2">
                            <div class="row-fluid loan-quest-icn" id="helptxtId7">&nbsp;</div>
                        </li>
                    </ul>
                </div>
                
                <div class="col-md-6 col-sm-12">
                    <ul class="row-fluid detail-sub-heading">
                        <li class="col-md-5">
                            <div class="row-fluid">Ongoing Fees</div>
                        </li>
                        <li class="col-md-5">
                            <div class="row-fluid strong-text"><strong>{!objwrapperOppDetails.oppOngoingfee}</strong>
                                <ul class="helptext displaynone" id="ongoingFeeId">This is your current Loan Ongoing Fees.</ul>
                            </div>
                        </li>
                        <li class="col-md-2">
                            <div class="row-fluid loan-quest-icn" id="helptxtId8">&nbsp;</div>
                        </li>
                    </ul>
                </div>                
            </article>
            
            <article class="row-fluid">
                <div class="col-md-6 col-sm-12">
                    <ul class="row-fluid detail-sub-heading">
                        <li class="col-md-5">
                            <div class="row-fluid">Valuation Fee</div>
                        </li>
                        <li class="col-md-5">
                            <div class="row-fluid strong-text"><strong>{!objwrapperOppDetails.oppValuationfee}</strong>
                                <ul class="helptext displaynone" id="valuationFeeId">This is your current Loan Valuation Fee.</ul>
                            </div>
                        </li>
                        <li class="col-md-2">
                            <div class="row-fluid loan-quest-icn" id="helptxtId9">&nbsp;</div>
                        </li>
                    </ul>
                </div>
                
                <div class="col-md-6 col-sm-12">
                    <ul class="row-fluid detail-sub-heading">
                        <li class="col-md-5">
                            <div class="row-fluid">Legal Fees</div>
                        </li>
                        <li class="col-md-5">
                            <div class="row-fluid strong-text"><strong>{!objwrapperOppDetails.oppLegalfee}</strong>
                                <ul class="helptext displaynone" id="legalFeeId">This is your current Loan Legal Fees.</ul>
                            </div>
                        </li>
                        <li class="col-md-2">
                            <div class="row-fluid loan-quest-icn" id="helptxtId10">&nbsp;</div>
                        </li>
                    </ul>
                </div>                
            </article>                 
      </section>                   
       </article><!--article left close-->
        </section><!--tabing content close-->  
      </apex:form> 
        <div class="clearfix"></div>                            
         <c:acfPostQuestion ></c:acfPostQuestion>         
       <!-- <section class="frequently-ask row-fluid">If you have any questions, you can always talk with your mortgage expert<a href="#" class="btn faq-btn">Ask A Question</a></section>    -->              
    </div><!--contaienr close-->
</section><!--dashboard here-->
<div class="clearfix"></div>
<!---Footer start here--------------->
<c:acfFooter ></c:acfFooter>
</main><!--main div close-->
</body>

</html>

</apex:page>