<apex:page >
<script language="javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script language="javascript">
function getLocation(){
  
  getAddressInfoByZip('2067');

}
 
function response(obj){
  console.log(obj);
}
function getAddressInfoByZip(zip){

  if(zip.length >= 4 && typeof google != 'undefined'){
  alert('hai');
    var addr = {};
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({ 'address': zip }, function(results, status){
    alert('@@'+results[0].address_components);
      if (status == google.maps.GeocoderStatus.OK){
        if (results.length >= 1) {

   
      for (var ii = 0; ii < results[0].address_components.length; ii++){
        var street_number = route = street = city = state = zipcode = country = formatted_address = '';
        var types = results[0].address_components[ii].types.join(",");

        if (types == "street_number"){
          addr.street_number = results[0].address_components[ii].long_name;
          alert('street'+addr.street_number);
        }
        if (types == "route" || types == "point_of_interest,establishment"){
          addr.route = results[0].address_components[ii].long_name;
          alert('route'+addr.route);
        }
        if (types == "sublocality,political" || types == "locality,political" || types == "neighborhood,political" || types == "administrative_area_level_3,political"){
          addr.city = (city == '' || types == "locality,political") ? results[0].address_components[ii].long_name : city;
         alert('city'+addr.city);
        }
        if (types == "administrative_area_level_1,political"){
          addr.state = results[0].address_components[ii].short_name;
          alert('state '+addr.state);
        }
        if (types == "postal_code" || types == "postal_code_prefix,postal_code"){
          addr.zipcode = results[0].address_components[ii].long_name;
          alert('zipcode '+addr.zipcode);
        }
        if (types == "country,political"){
          addr.country = results[0].address_components[ii].long_name;
        }
      }
      
      
      addr.success = true;
      for (name in addr){
      alert(addr[name]);
          console.log('### google maps api ### ' + name + ': ' + addr[name] );
      }
      response(addr);
        } else {
          response({success:false});
        }
      } else {
        response({success:false});
      }
    });
  } else {
    response({success:false});
  }
}

</script>
<apex:form >

zip: <input type="text" name="zip" value="46032"/> <a href="#" onclick="getLocation()">get address</a>

</apex:form>
</apex:page>