<apex:page Controller="TestJumioController">
<apex:form >
  <apex:inputFile value="{!attach.body}" fileName="{!attach.name}" styleclass="upload" id="inptFileUpload"></apex:inputFile>
 
  <apex:inputFile value="{!docattach.body}" fileName="{!docattach.name}" styleclass="upload" id="inptFileUpload1" onchange="UploadDoc2();"></apex:inputFile>
  
   <apex:commandButton value="Upload 1" action="{!UploadDoc1}"/>
</apex:form>  
</apex:page>