<apex:page docType="html" standardStylesheets="false" showHeader="false" controller="testacfpreloginQuestionController" cache="false" id="pid">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link href="http://externalcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<title>Question Stage1</title>
<link href="{!URLFOR($Resource.acfResources, 'acfResources/css/layout.css')}" rel="stylesheet" type="text/css"/>

<script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/nav.js')}"></script>
<script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/html5.js')}"></script>
<script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/jquery.glide.min.js')}"></script>
<script type="text/javascript" src="{!URLFOR($Resource.acfResources, 'acfResources/js/slide.js')}"></script>
<apex:includeScript value="{!URLFOR($Resource.postcodeJS,'jquery.min.js')}"/>   
<apex:includeScript value="{!URLFOR($Resource.postcodeJS,'jquery-ui.min.js')}"/>   
<apex:includeScript value="{!URLFOR($Resource.postcodeJS,'jsNew.js')}"/>   
<apex:includeScript value="{!URLFOR($Resource.postcodeJS,'jquery.ui.addresspicker.js')}"/>  
<script type="text/javascript" src="{!$Resource.TypeheadAutocomplete}" /> 
<script>
  function slide()
  {
    if($('[id$=ipthdn]').val() === 'true')
    {
       $('.slider-arrow--right').trigger('click');
    } 
    if($('[id$=ipthdnISDependentSkip]').val() === 'true')
    {
       $('.slider-arrow--right').trigger('click');
    }
  }
  
  
  function Backslide()
  {
    if($('[id$=ipthdn]').val() === 'true')
    {
       $('.slider-arrow--left').trigger('click');
    }
    if($('[id$=ipthdnISDependentSkip]').val() === 'true')
    {
       $('.slider-arrow--left').trigger('click');
    }
  }

  $(document).ready(function ()
  {
    for(var i=0;i<($('[id$=ipthdnIndex]').val());i++)
    {
       $('.slider-arrow--right').trigger('click');
    }   
    if('{!IsSlideToNextQues}' === 'true')
    {
        $('.slider-arrow--right').trigger('click');
    }
    $('.clsOnlynumeric').keypress(function(e) 
    {
        var keyCode;
        if (window.event) // IE
        {
            keyCode = e.keyCode;
        }
        else if (e.which) // Netscape/Firefox/Opera
        {
            keyCode = e.which;
        }
        
        if (keyCode == 46 && $(this).val().indexOf(".") < 1) {
            return true;
        }
    
        return ((!((keyCode < 48) || (keyCode > 57))) || (keyCode == 8));
    }); 
  });
  function queryData(strfilter)
    {          
       Visualforce.remoting.Manager.invokeAction(
             '{!$RemoteAction.testacfpreloginQuestionController.AutoCompleteBanklList}',strfilter,
             function(result, event)
             {                      
                 //if success
                 if(event.status){ 
                     var data = {results: []}
                     data.results = result;
                     BindBankList(data.results);                  
                 }
                 else{
                      alert('Invalid Field/Object API Name : '+event.message);
                 }
                
             }, 
              {escape: true}
        );
    } 
    
    function BindBankList(arrBankList)
    {
        var strBankListHtml = '';
       
        for(var i=0; i<arrBankList.length; i++)
        {       
            strBankListHtml = strBankListHtml + '<li value="'+arrBankList[i].acfBank_Name__c+'"><span class="bank-img"><img src="{!$Label.acfSite_Url}'+arrBankList[i].acfImage_URL__c+'"/></span><span class="BnkOpt">'+arrBankList[i].acfBank_Name__c+'</span></li>';
        }
        
        //alert(strBankListHtml);
        $('.bank-list').html(strBankListHtml);
        
       /* $('.BnkOpt').mouseenter(function() {                       
              var obj = $(this).context;
              $('input[id$=textId]').val(obj.innerText);
              strBankListHtml = '';
        });*/
        $('.bank-list li').mouseenter(function(){
            $('input[id$=textId]').val($(this).find('.BnkOpt').text());
        });
    }     
</script>
<script type="text/javascript">
      $(document).ready(function () {
          var geocoder = new google.maps.Geocoder();
           $(".addresspicker_map").autocomplete({
            source: function (request, response) {
                geocoder.geocode({ address: request.term }, function (results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                  response($.map(results, function(result) {
                    if ($.inArray("street_address", result.types) >= 0) {
                        return result.formatted_address;
                    }
                  }));
                }                
              });
            },
        });
        
        $(".addresspicker_map").keypress(function(){
            setTimeout(function(){
                var strAddressList = '<ul class="ulAddress">';
                $('.ui-autocomplete').find('a').each(function(){
                    //alert($(this).text());
                    strAddressList = strAddressList + '<li class="liAddress">'+$(this).text()+'</li>';
                });
                strAddressList = strAddressList + '</ul>';
                $('.clsAddressList').html(strAddressList);  
                
                $('.liAddress').click(function(){
                    $('.addresspicker_map').val($(this).text());
                    $('.ulAddress').css('display','none');  
                });
            }, 500);        
        });
    });
    $(function() {
      var addresspicker = $(".addresspicker_map").addresspicker();
      var addresspickerMap = $( '.addresspicker_map' ).addresspicker({
          elements: {
            administrative_area_level_1 :  "#city",
            map:      "#map",
            lat:      "#lat",
            lng:      "#lng",
            locality: '#locality',
            country:  '#country',
            postal_code: '#postal_code'
          }
        });
        var gmarker = addresspickerMap.addresspicker( "marker");
        gmarker.setVisible(true);
        addresspickerMap.addresspicker( "updatePosition");
    });
    
    window.onbeforeunload = function () {
        if($('[id$=ipthdnRedirect]').val() === 'false')
            return  "You are almost there! Are you sure you want to quit?";
    }; 
</script>

<style>
.relQues-margin {
margin-left: 13%;
}
.ulAddress
{
    border: 1px #f2f1f1 solid;
    margin-left:82px;
}
.liAddress
{
    padding: 2px 5px;
}
.liAddress:hover
{
    background-color: #f2f1f1;
    cursor:pointer;
}
.ui-autocomplete
{
    display:none!important;
}
.inputf.input_w100.input_wpercent{
  width: 36%;
}
.inputf.input_w100.input-marginleft{
 margin-left:30px;
}
.inputf
{
    margin-top:45px;
    width: 322px;
    height: 52px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border-radius: 8px;
    height: 52px;
    -webkit-appearance: none;
    color:  #9e9d9d;
    }
    @media all and (min-width: 320px) and (max-width: 800px){
 .inputf.input_w100{
     width:100%; 
     margin-left:0px!important;
 }
 .inputf.input_w100.input_wpercent{
     margin-left:0px;
     width: 80%;
 }
 .btn-question.q-right.prlelogin-ques.question-response{
     margin-left:0px;
     width:100%;    
 }
 .input-box.inputf + ul.bank-list{
    margin-left:0px!important; 
    width:100%!important;
 }
 .ulAddress
{
    margin-left:0px!important;
}
 }
    .ui-autocomplete{
        top: 490px !important;
        left: 530px !important;
        position: absolute;
        color: #1F8BCC;
    }
    .input-box.inputf + ul.bank-list li:before{
        background-image:url("{!URLFOR($Resource.acfResources, 'acfResources/images/sprite.png')}");
    }
    .input-box.inputf + ul.bank-list{
      width: 322px;
      margin-left: 13%;
    }
    .btn-question.q-right.prlelogin-ques{
      margin-left: 30%;
    }
    .preloader
    {
      position:absolute;
      top:-6%;
      left:25%;
    }
    .btn-widthEqualizer{
        word-wrap: break-word;
        width: 50%;
        height: auto;
        margin-left:72px;
    }
    /* it is used for back button and drop down image .
    
    .quest-back{
    display:inline-block;
    content:'';
    background-image:url(../images/sprite.png);
    background-repeat:no-repeat;
    width:51px;
    height:51px;
    background-position:-198px -207px;
    position:absolute;
    left:-70px;
    top:0px;
    cursor:pointer;
    }*/
    @media all and (min-width:320px) and (max-width:800px){
    .btn-vertical{display:block; margin:20px auto;}
    .btn-question:last-child{margin-right:auto;}
    .question-input{margin:0 auto;margin-top: 16%;margin-left: 52!important;}
    .btn-widthEqualizer {width:80%;margin-left:auto!important;}
    .btnresponsive-margin-div {margin-top:17%;}
    }
</style>

</head>
<body>
<c:acfHeadermobileMenu />
<main class="container-fluid add-body">

<header class="row-fluid">
        <c:acfHeader ></c:acfHeader> 
</header>

<section class="row-fluid slider">
<apex:outputPanel id="optContainer">
    <div class="container">
        <div class="row-fluid">
        
         <div class="col-sm-12 col-md-4">
             <apex:outputpanel id="optStagesText">
                <blockquote class="interest_rate_tootlip">
                    <a href="#">
                     <!-- You’ll have interest rate
                        options in <span>30 seconds</span>-->
                        <apex:outputText value="{!strBubbleText}" escape="false" />    
                    </a>
                </blockquote>
              </apex:outputpanel>
                <figure class="verification-section_2">
                    <img src="{!URLFOR($Resource.acfResources, 'acfResources/images/slide_3.jpg')}" alt="Click Refi"/> 
                 <!--   <img src="images/slide_3.png" alt="Click Refi">   -->
                  <apex:outputpanel id="optStages">
                    <figacaption>
                        <hgroup>
                            <h3 class="h3">Question</h3>
                            <h4 class="h4">{!indexNo+1} / {!intTotalQuestions}</h4>
                        </hgroup>
                    </figacaption>     
                  </apex:outputpanel>         
               </figure> 
                              
         </div>
         
        <apex:form > 
       <apex:outputPanel rendered="{!isCookiesexist}">
           <div id="confirmPopup" Class="pop-up-form "> 
           <section class="setup-box" id="idSetupBox" style="min-height: 234px;">
            <article>
                <h2 class="slide-heading id-veryfi-heading" style="font-size: 1.3em;text-align: center;padding-top: 55px;"><apex:outputText value="{!$Label['acfClearCookiesAlert']}" escape="false"/></h2>
            </article>  
            <div class="set-up-row auto" style="margin-top: 57px;">
                <apex:commandLink value="Yes" styleClass="btn faq-btn prf-submit-btn btn-light_blue" action="{!resumePreviousSession}"/> 
                <apex:commandLink value="No" styleClass="btn faq-btn prf-submit-btn" action="{!clearCookies}"/> 
            </div>
            <div class="clearfix"></div> 
            </section>
            </div>
        
        </apex:outputPanel>
       <!-- <input id="locality"/>-->
<!--@@@@-->
            <div class="col-sm-12 col-md-7 question-slider">
                    <apex:outputPanel id="optErrormsg">
                       <apex:inputhidden value="{!IsSlide}" id="ipthdn"/>
                        <apex:inputhidden value="{!indexNo}" id="ipthdnIndex"/>
                        <apex:inputHidden value="{!IsRedirect}" id="ipthdnRedirect"/>
                        <apex:inputHidden value="{!IsSkipDependent}" id="ipthdnISDependentSkip"/>
                       <apex:outputPanel rendered="{!if(strmsg != null && strmsg != '', true,false)}" style="color:red;margin-top:20px;text-align:center;"><p>{!strmsg}</p></apex:outputPanel>
                    </apex:outputPanel>  
                         <div class="slider-form">
                            <ul class="slides-form">
                              <!-- Master Repeat -->
                                 <apex:repeat value="{!lstWrapperQuestion}" var="ques">      
                                     <li class="slide-form">                                                   
                                         <h2 class="slide-heading relQues-margin"><apex:outputtext value="{!ques.objWrapQuestion.acf_Question__c}" escape="false"/></h2>
                                         <p class="slide-peregraph relQues-margin">{!ques.objWrapQuestion.acf_Description__c}</p>
                                         <!--<apex:param name="bubble" value="{!ques.objWrapQuestion.acfBubble_Text__c}" assignTo="{!strBubbleText}"/>-->
                                           <apex:outputPanel id="preloginPicklist" rendered="{!if(ques.objWrapQuestion.acf_Type__c == 'Picklist',true,false)}" >
                                                <div class="col-md-1 col-sm-12 quest-back-btn">
                                                    <apex:image id="theImage8" value="{!URLFOR($Resource.acfResources, 'acfResources/images/back-img.png')}" alt="img">
                                                        <apex:actionsupport event="onclick" action="{!previousQuestion}" reRender="optStages,optErrormsg,optStagesText" status="counterStatusimg8" oncomplete="Backslide();">                   
                                                        </apex:actionSupport>
                                                        <apex:actionstatus id="counterStatusimg8" starttext="verifying">
                                                             <apex:facet name="start">
                                                                 <apex:image url="{!$Resource.LoadingImg}" height="35" width="35" styleClass="preloader"/>                      
                                                             </apex:facet>
                                                        </apex:actionStatus>
                                                    </apex:image>
                                                      <!--<img src="{!URLFOR($Resource.acfResources, 'acfResources/images/back-img.png')}" alt="img"/>-->
                                                   </div>
                                               
                                               <div class="question-input">
                                                <apex:selectList value="{!ques.strWrapAnswer}" multiselect="false" size="1" style="font-weight:normal; color: #9e9d9d" > 
                                                    <apex:selectOption itemValue="NONE" itemLabel="--NONE--"></apex:selectOption>
                                                    <apex:selectOptions value="{!ques.lstSelectOpt}"></apex:selectOptions>
                                                    <apex:actionsupport event="onchange" action="{!RelatedQuestions}" reRender="optQuestion,optStages,optStagesText,optErrormsg" status="counterStatus" oncomplete="slide();">
                                                     <!-- <apex:param value="{!Count}" assignTo="{!QuesNo}" name="QuesCount"/> -->
                                                    </apex:actionSupport>
                                                </apex:selectList>
                                               </div> 
                                           </apex:outputPanel>
                                           <apex:outputPanel id="preloginText" rendered="{!if(AND(OR(ques.objWrapQuestion.acf_Type__c == 'Text',ques.objWrapQuestion.acf_Type__c == 'Number'),ques.objWrapQuestion.acf_Current_lender__c == false),true,false)}">
                                                  <div class="col-md-1 col-sm-12 quest-back-btn">
                                                    <apex:image id="theImage1" value="{!URLFOR($Resource.acfResources, 'acfResources/images/back-img.png')}" alt="img">
                                                        <apex:actionsupport event="onclick" action="{!previousQuestion}" reRender="optStages,optErrormsg,optStagesText" status="counterStatusimg1" oncomplete="Backslide();">
                                                          
                                                        </apex:actionSupport>
                                                        <apex:actionstatus id="counterStatusimg1" starttext="verifying">
                                                             <apex:facet name="start">
                                                                 <apex:image url="{!$Resource.LoadingImg}" height="35" width="35" styleClass="preloader"/>                      
                                                             </apex:facet>
                                                        </apex:actionStatus>
                                                    </apex:image>
                                                      <!--<img src="{!URLFOR($Resource.acfResources, 'acfResources/images/back-img.png')}" alt="img"/>-->
                                                   </div>
                                               
                                               <apex:inputtext styleclass="{!if(ques.objWrapQuestion.acf_Type__c == 'Number','clsOnlynumeric',if(ques.objWrapQuestion.acf_Postal_Code__c == true,'addresspicker_map',''))} inputf input_w100 input-marginleft" value="{!ques.strWrapAnswer}" onBlur="if (this.placeholder == '') {this.placeholder = '{!ques.objWrapQuestion.acfWatermark_Text__c}';}" onFocus="if (this.placeholder == '{!ques.objWrapQuestion.acfWatermark_Text__c}') {this.placeholder = '';}" html-placeholder="{!ques.objWrapQuestion.acfWatermark_Text__c}"/>
                                               <div class="clsAddressList"></div>
                                           </apex:outputPanel>
                                           <apex:outputPanel id="preloginCurrency" rendered="{!if(AND(ques.objWrapQuestion.acf_Type__c == 'Currency',ques.objWrapQuestion.acf_Current_lender__c == false),true,false)}">
                                            <div class="col-md-1 col-sm-12 quest-back-btn">
                                                    <apex:image id="theImage2" value="{!URLFOR($Resource.acfResources, 'acfResources/images/back-img.png')}" alt="img">
                                                        <apex:actionsupport event="onclick" action="{!previousQuestion}" reRender="optStages,optErrormsg,optStagesText" status="counterStatusimg" oncomplete="Backslide();">
                                                          
                                                        </apex:actionSupport>
                                                        <apex:actionstatus id="counterStatusimg" starttext="verifying">
                                                             <apex:facet name="start">
                                                                 <apex:image url="{!$Resource.LoadingImg}" height="35" width="35" styleClass="preloader"/>                      
                                                             </apex:facet>
                                                        </apex:actionStatus>
                                                    </apex:image>
                                                      <!--<img src="{!URLFOR($Resource.acfResources, 'acfResources/images/back-img.png')}" alt="img"/>-->
                                           </div>
                                           <div class="preloginDollar">
                                               <i class="dolor_icon"></i>
                                               <apex:inputtext styleclass="clsOnlynumeric inputf input_w100 dolor_input input-marginleft" value="{!ques.strWrapAnswer}" onBlur="if (this.placeholder == '') {this.placeholder = '{!ques.objWrapQuestion.acfWatermark_Text__c}';}" onFocus="if (this.placeholder == '{!ques.objWrapQuestion.acfWatermark_Text__c}') {this.placeholder = '';}" html-placeholder="{!ques.objWrapQuestion.acfWatermark_Text__c}"/>
                                           </div>                                   
                                           </apex:outputPanel>
                                           <apex:outputPanel id="preloginpercent" rendered="{!if(AND(ques.objWrapQuestion.acf_Type__c == 'Percent',ques.objWrapQuestion.acf_Current_lender__c == false),true,false)}">
                                              <div class="col-md-1 col-sm-12 quest-back-btn">
                                                    <apex:image id="theImage3" value="{!URLFOR($Resource.acfResources, 'acfResources/images/back-img.png')}" alt="img">
                                                        <apex:actionsupport event="onclick" action="{!previousQuestion}" reRender="optStages,optErrormsg,optStagesText" status="counterStatusimg2" oncomplete="Backslide();">
                                                          
                                                        </apex:actionSupport>
                                                        <apex:actionstatus id="counterStatusimg2" starttext="verifying">
                                                             <apex:facet name="start">
                                                                 <apex:image url="{!$Resource.LoadingImg}" height="35" width="35" styleClass="preloader"/>                      
                                                             </apex:facet>
                                                        </apex:actionStatus>
                                                    </apex:image>
                                                      <!--<img src="{!URLFOR($Resource.acfResources, 'acfResources/images/back-img.png')}" alt="img"/>-->
                                               </div>             
                                               <div class="preloginpercent">
                                                   <i class="percent_icon"></i>
                                                   <apex:inputtext styleclass="clsOnlynumeric inputf input_w100 percent_input input_wpercent input-marginleft" value="{!ques.strWrapAnswer}"  onBlur="if (this.placeholder == '') {this.placeholder = '{!ques.objWrapQuestion.acfWatermark_Text__c}';}" onFocus="if (this.placeholder == '{!ques.objWrapQuestion.acfWatermark_Text__c}') {this.placeholder = '';}" html-placeholder="{!ques.objWrapQuestion.acfWatermark_Text__c}"/>
                                               </div>                                   
                                           </apex:outputPanel>
                                           <apex:outputPanel id="preloginTextCurrnetLender" rendered="{!if(AND(ques.objWrapQuestion.acf_Type__c == 'Text',ques.objWrapQuestion.acf_Current_lender__c == true),true,false)}">                                       
                                                <apex:inputText styleclass="input-box inputf input_w100" id="textId" value="{!ques.strWrapAnswer}" onblur="if (this.value == '') {this.value = 'Current Lender';}" onFocus="if (this.value == 'Current Lender') {this.value = '';}" style="margin-left: 13%;"/>
                                                   <ul class="bank-list"> 
                                                       <apex:repeat value="{!lstbank}" var="obj1" id="rptBanks">
                                                           <li  value="{!obj1.acfBank_Name__c}"><span class="bank-img"><img src="{!$Label.acfSite_Url}{!obj1.acfImage_URL__c}"/></span><span class="BnkOpt">{!obj1.acfBank_Name__c}</span></li>
                                                       </apex:repeat>                  
                                                   </ul>
                                                   <script>
                                                              $('.BnkOpt').mouseenter(function() {                       
                                                                      var obj = $(this).context;
                                                                      $('input[id$=textId]').val(obj.innerText) ;
                                                              });
                                                              
                                                              $('input[id$=textId]').attr('autocomplete','off');
                                                              
                                                              $('[id$=textId]').keyup(function(){
                                                                      //alert($(this).val()); 
                                                                      queryData($(this).val());
                                                              });
                                                              $('.clsOnlynumeric').keypress(function(e) 
                                                                {
                                                                    var keyCode;
                                                                    if (window.event) // IE
                                                                    {
                                                                        keyCode = e.keyCode;
                                                                    }
                                                                    else if (e.which) // Netscape/Firefox/Opera
                                                                    {
                                                                        keyCode = e.which;
                                                                    }
                                                            
                                                                    return ((!((keyCode < 48) || (keyCode > 57))) || (keyCode == 8));
                                                                });
                                                  </script>
                                                
                                           </apex:outputPanel>
                                           <apex:outputPanel id="preloginRadioButton" rendered="{!if(ques.objWrapQuestion.acf_Type__c == 'RadioButton',true,false)}">
                                              <div class="col-md-1 col-sm-12 quest-back-btn">
                                                    <apex:image id="theImage4" value="{!URLFOR($Resource.acfResources, 'acfResources/images/back-img.png')}" alt="img">
                                                        <apex:actionsupport event="onclick" action="{!previousQuestion}" reRender="optStages,optErrormsg,optStagesText" status="counterStatusimg4" oncomplete="Backslide();">
                                                          
                                                        </apex:actionSupport>
                                                        <apex:actionstatus id="counterStatusimg4" starttext="verifying">
                                                             <apex:facet name="start">
                                                                 <apex:image url="{!$Resource.LoadingImg}" height="35" width="35" styleClass="preloader"/>                      
                                                             </apex:facet>
                                                        </apex:actionStatus>
                                                    </apex:image>
                                                      <!--<img src="{!URLFOR($Resource.acfResources, 'acfResources/images/back-img.png')}" alt="img"/>-->
                                               </div>                                            
                                             <apex:selectRadio value="{!ques.strWrapAnswer}">
                                                <apex:selectOptions value="{!ques.lstSelectOpt}"/>
                                                  <apex:actionsupport event="onchange" action="{!RelatedQuestions}" reRender="optQuestion,optStages,optStagesText,optErrormsg" status="counterStatus" oncomplete="slide();">
                                                  <!--  <apex:param value="{!Count}" assignTo="{!QuesNo}" name="QuesCount"/>-->
                                                </apex:actionSupport>
                                            </apex:selectRadio>
                                           </apex:outputPanel>
                                           <apex:outputPanel id="preloginCheckBoxes" rendered="{!if(ques.objWrapQuestion.acf_Type__c == 'Checkbox',true,false)}">
                                              <div class="col-md-1 col-sm-12 quest-back-btn">
                                                    <apex:image id="theImage6" value="{!URLFOR($Resource.acfResources, 'acfResources/images/back-img.png')}" alt="img">
                                                        <apex:actionsupport event="onclick" action="{!previousQuestion}" reRender="optStages,optErrormsg,optStagesText" status="counterStatusimg6" oncomplete="Backslide();">
                                                          
                                                        </apex:actionSupport>
                                                        <apex:actionstatus id="counterStatusimg6" starttext="verifying">
                                                             <apex:facet name="start">
                                                                 <apex:image url="{!$Resource.LoadingImg}" height="35" width="35" styleClass="preloader"/>                      
                                                             </apex:facet>
                                                        </apex:actionStatus>
                                                    </apex:image>
                                                      <!--<img src="{!URLFOR($Resource.acfResources, 'acfResources/images/back-img.png')}" alt="img"/>-->
                                               </div>                                             
                                             <apex:selectCheckboxes value="{!ques.lstCheckBoxAnswer}">
                                                <apex:selectOptions value="{!ques.lstSelectOpt}"/>
                                                <!--<apex:actionsupport event="onchange" action="{!RelatedQuestions}" reRender="optQuestion" status="counterStatus">
                                                  <!--  <apex:param value="{!Count}" assignTo="{!QuesNo}" name="QuesCount"/>
                                                </apex:actionSupport>-->
                                             </apex:selectCheckboxes><br/>
                                           </apex:outputPanel>
                                           <apex:outputPanel id="preloginButtons" rendered="{!if(ques.objWrapQuestion.acf_Type__c == 'Button',true,false)}">
                                              <div class="col-md-1 col-sm-12 quest-back-btn">
                                                    <apex:image id="theImage7" value="{!URLFOR($Resource.acfResources, 'acfResources/images/back-img.png')}" alt="img">
                                                        <apex:actionsupport event="onclick" action="{!previousQuestion}" reRender="optStages,optErrormsg,optStagesText" status="counterStatusimg7" oncomplete="Backslide();">
                                                          
                                                        </apex:actionSupport>
                                                        <apex:actionstatus id="counterStatusimg7" starttext="verifying">
                                                             <apex:facet name="start">
                                                                 <apex:image url="{!$Resource.LoadingImg}" height="35" width="35" styleClass="preloader"/>                      
                                                             </apex:facet>
                                                        </apex:actionStatus>
                                                    </apex:image>
                                                      <!--<img src="{!URLFOR($Resource.acfResources, 'acfResources/images/back-img.png')}" alt="img"/>-->
                                               </div> 
                                               <div class="btnresponsive-margin-div">                                           
                                                <apex:repeat value="{!ques.lstSelectOptions}" var="Answers">
                                                 <apex:commandButton value="{!Answers.acf_Answer__c}" styleClass="btn-question btn-auto btn-vertical btn-widthEqualizer" action="{!RelatedQuestions}" reRender="optQuestion,optStages,optStagesText,optErrormsg" status="counterStatus" oncomplete="slide();">
                                                    <apex:param value="{!Answers.id}" assignTo="{!ques.strWrapAnswer}" name="QuesCount"/>
                                                 </apex:commandButton>
                                                </apex:repeat> 
                                              </div>
                                           </apex:outputPanel>
                                           <!-- Related List -->
                                          <apex:outputPanel id="optQuestion" style="margin-top:10px;">
                                           <apex:variable value="{!0}" var="Count"/> 
                                           <apex:repeat value="{!ques.lstRelatedQuestion}" var="objRelatedQues">
                                           <!--  <apex:param name="bubbleTxt" value="{!objRelatedQues.objWrapQuestion.acf_Question__c}" assignTo="{!strBubbleText}"/>-->
                                             <div style="margin-top:5%;">
                                              <h2 class="slide-heading relQues-margin"><apex:outputtext value="{!objRelatedQues.objWrapQuestion.acf_Question__c}" escape="false"/></h2>
                                                <p class="slide-peregraph relQues-margin">{!objRelatedQues.objWrapQuestion.acf_Description__c}</p>
                                                   <apex:outputPanel id="preloginPicklist" rendered="{!if(objRelatedQues.objWrapQuestion.acf_Type__c == 'Picklist',true,false)}">
                                                        <apex:selectList value="{!objRelatedQues.strWrapAnswer}" multiselect="false" size="1" style="font-weight:normal; color: #9e9d9d" styleClass="inputf input_w100 relQues-margin"> 
                                                            <apex:selectOption itemValue="NONE" itemLabel="--NONE--"></apex:selectOption>
                                                            <apex:selectOptions value="{!objRelatedQues.lstSelectOpt}"></apex:selectOptions>
                                                            <apex:actionsupport event="onchange" action="{!AddingRelatedQuestion}" reRender="optQuestion,optStages,optStagesText,optErrormsg" status="counterStatus" oncomplete="slide();">
                                                              <apex:param value="{!Count}" assignTo="{!QuesNo}" name="QuesCount"/>
                                                            </apex:actionSupport>
                                                        </apex:selectList>
                                                   </apex:outputPanel>
                                                   <apex:outputPanel id="preloginText" rendered="{!if(objRelatedQues.objWrapQuestion.acf_Type__c == 'Text' || objRelatedQues.objWrapQuestion.acf_Type__c == 'Number',true,false)}">
                                                       <apex:inputtext styleclass="{!If(objRelatedQues.objWrapQuestion.acf_Type__c == 'Number','clsOnlynumeric','')} inputf input_w100 relQues-margin" value="{!objRelatedQues.strWrapAnswer}" onBlur="if (this.placeholder == '') {this.placeholder = '{!objRelatedQues.objWrapQuestion.acfWatermark_Text__c}';}" onFocus="if (this.placeholder == '{!objRelatedQues.objWrapQuestion.acfWatermark_Text__c}') {this.placeholder = '';}" html-placeholder="{!objRelatedQues.objWrapQuestion.acfWatermark_Text__c}"/>
                                                   </apex:outputPanel>
                                                    <apex:outputPanel id="preloginCurrency" rendered="{!if(objRelatedQues.objWrapQuestion.acf_Type__c == 'Currency',true,false)}">
                                                       <div class="preloginDollar">
                                                           <i class="dolor_icon"></i>
                                                           <apex:inputtext styleclass="clsOnlynumeric inputf input_w100 dolor_input relQues-margin" value="{!objRelatedQues.strWrapAnswer}" onBlur="if (this.placeholder == '') {this.placeholder = '{!objRelatedQues.objWrapQuestion.acfWatermark_Text__c}';}" onFocus="if (this.placeholder == '{!objRelatedQues.objWrapQuestion.acfWatermark_Text__c}') {this.placeholder = '';}" html-placeholder="{!objRelatedQues.objWrapQuestion.acfWatermark_Text__c}"/>
                                                       </div>                                                       
                                                   </apex:outputPanel>
                                                   <apex:outputPanel id="preloginpercent" rendered="{!if(objRelatedQues.objWrapQuestion.acf_Type__c == 'Percent',true,false)}">
                                                      <div class="preloginpercent">
                                                       <i class="percent_icon"></i>
                                                       <apex:inputtext styleclass="clsOnlynumeric inputf input_w100 percent_input input_wpercent relQues-margin" value="{!objRelatedQues.strWrapAnswer}"  onBlur="if (this.placeholder == '') {this.placeholder = '{!objRelatedQues.objWrapQuestion.acfWatermark_Text__c}';}" onFocus="if (this.placeholder == '{!objRelatedQues.objWrapQuestion.acfWatermark_Text__c}') {this.placeholder = '';}" html-placeholder="{!objRelatedQues.objWrapQuestion.acfWatermark_Text__c}"/>
                                                      </div>  
                                                   </apex:outputPanel>
                                                   <apex:outputPanel id="preloginRadioButton" rendered="{!if(objRelatedQues.objWrapQuestion.acf_Type__c == 'RadioButton',true,false)}">
                                                     <apex:selectRadio value="{!objRelatedQues.strWrapAnswer}">
                                                        <apex:selectOptions value="{!objRelatedQues.lstSelectOpt}"/>
                                                        <apex:actionsupport event="onchange" action="{!AddingRelatedQuestion}" reRender="optQuestion,optStages,optStagesText,optErrormsg" status="counterStatus" oncomplete="slide();">
                                                           <apex:param value="{!Count}" assignTo="{!QuesNo}" name="QuesCount"/>
                                                        </apex:actionSupport>
                                                    </apex:selectRadio>
                                                   </apex:outputPanel>
                                                   <apex:outputPanel id="preloginCheckBoxes" rendered="{!if(objRelatedQues.objWrapQuestion.acf_Type__c == 'Checkbox',true,false)}">
                                                     <apex:selectCheckboxes value="{!objRelatedQues.lstCheckBoxAnswer}">
                                                        <apex:selectOptions value="{!objRelatedQues.lstSelectOpt}"/>
                                                        <!--<apex:actionsupport event="onchange" action="{!AddingRelatedQuestion}" reRender="optQuestion" status="counterStatus">
                                                           <apex:param value="{!Count}" assignTo="{!QuesNo}" name="QuesCount"/>
                                                        </apex:actionSupport>-->
                                                     </apex:selectCheckboxes><br/>
                                                   </apex:outputPanel>
                                                   <apex:outputPanel id="preloginButtons" rendered="{!if(objRelatedQues.objWrapQuestion.acf_Type__c == 'Button',true,false)}">
                                                    <apex:repeat value="{!objRelatedQues.lstSelectOptions}" var="Answers">
                                                     <apex:commandButton value="{!Answers.acf_Answer__c}" styleClass="btn-question btn-auto btn-vertical btn-widthEqualizer" action="{!AddingRelatedQuestion}" reRender="optQuestion,optStages,optStagesText,optErrormsg" status="counterStatus" oncomplete="slide();">
                                                        <apex:param value="{!Answers.id}" assignTo="{!objRelatedQues.strWrapAnswer}" name="QuesCountAns"/>
                                                        <apex:param value="{!Count}" assignTo="{!QuesNo}" name="QuesCount"/>
                                                     </apex:commandButton>
                                                    </apex:repeat> 
                                                   </apex:outputPanel>
                                                   <apex:variable value="{!Count+1}" var="Count"/>
                                              </div>     
                                           </apex:repeat>
                                            
                                           <div class="set-up-row auto">
                                                <apex:commandButton value="Continue" styleclass="btn-question q-right prlelogin-ques question-response disblock_getstarted" action="{!NextQuestion}" oncomplete="slide();" rendered="{!if(ques.IsContinueDisplay == true,true,false)}" reRender="optStages,optErrormsg,optStagesText" status="counterStatus">
                                                  <!-- <apex:param name="bubbleTxt" value="{!ques.objWrapQuestion.acf_Question__c}" assignTo="{!strBubbleText}"/> -->
                                                </apex:commandButton>
                                                 <!-- <apex:commandButton value="Back" styleclass="btn-question q-right prlelogin-ques"   action="{!previousQuestion}" oncomplete="Backslide();"  reRender="optStages,optErrormsg" status="counterStatus"/>-->
                                                 <apex:actionstatus id="counterStatus" starttext="verifying">
                                                      <apex:facet name="start">
                                                          <apex:image url="{!$Resource.LoadingImg}" height="35" width="35" styleClass="preloader"/>                      
                                                      </apex:facet>
                                                 </apex:actionStatus>
                                           </div> 
                                        </apex:outputPanel> 
                                     </li>
                                 </apex:repeat>
                            </ul>
                         </div>  
                            
            </div><!--colxs-8 close-->  
            </apex:form>      
        </div>
     </div><!--container close-->
    </apex:outputPanel>   
 </section><!--slider section close-->
<!---Footer start here--------------->
    <footer class="inner-footer row-fluid">
        <c:acfFooter />
    </footer>
<!--footer close-->
</main><!--main div close-->
</body>
</html>
</apex:page>