<apex:page controller="testRerender" extensions="testRerenderExtension">
  <apex:outputPanel id="pnlString">
      {!strTest}
  </apex:outputPanel>
  
  <apex:outputPanel >
      <apex:form id="frm">
          <apex:commandButton value="Fill string" action="{!FillString}" rerender="pnlString,frm"/>
      </apex:form>
  </apex:outputPanel>
</apex:page>