<apex:page cache="false">
 
<div id='bankstatements' data-code='ACAF'></div>
<script src='https://test.bankstatements.com.au/js/loader.js' ></script>
<noscript>
<iframe src='https://test.bankstatements.com.au/iframe/start/ACAF' style='width: 100%; height: 100%;'></iframe>
</noscript>



</apex:page>