<apex:page >

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link href="http://externalcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<title>Dashboard</title>

<link href="{!URLFOR($Resource.acfNewResources, 'acfNewResources/css/bootstrap-datepicker3.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.acfNewResources, 'acfNewResources/css/bootstrap-datepicker3.min.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.acfNewResources, 'acfNewResources/css/bootstrap.min.css')}" rel="stylesheet" type="text/css"/>

<link href="{!URLFOR($Resource.acfNewResources, 'acfNewResources/css/style.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.acfNewResources, 'acfNewResources/css/layout.css')}" rel="stylesheet" type="text/css"/>

<apex:includeScript value="{!URLFOR($Resource.postcodeJS,'jquery.min.js')}"/>   
<apex:includeScript value="{!URLFOR($Resource.postcodeJS,'jquery-ui.min.js')}"/>

<script type="text/javascript" src="{!URLFOR($Resource.acfNewResources, 'acfNewResources/js/html5.js')}"></script>
<script type="text/javascript" src="{!URLFOR($Resource.acfNewResources, 'acfNewResources/js/nav.js')}"></script>


<apex:includeScript value="{!URLFOR($Resource.acfNewResources,'acfNewResources/js/bootstrap-datepicker.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.acfNewResources,'acfNewResources/js/bootstrap-datepicker.min.js')}"/>

<script src="{!URLFOR($Resource.acfNewResources, 'acfNewResources/js/bootstrap.min.js')}"></script>

<!--
<link href="{!URLFOR($Resource.acfNewResources, 'acfNewResources/css/bootstrap-datepicker3.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.acfNewResources, 'acfNewResources/css/bootstrap-datepicker3.min.css')}" rel="stylesheet" type="text/css"/>
<link href="{!URLFOR($Resource.acfNewResources, 'acfNewResources/css/bootstrap.min.css')}" rel="stylesheet" type="text/css"/>
<apex:includeScript value="{!URLFOR($Resource.postcodeJS,'jquery.min.js')}"/>   
<apex:includeScript value="{!URLFOR($Resource.postcodeJS,'jquery-ui.min.js')}"/>


<apex:includeScript value="{!URLFOR($Resource.acfNewResources,'acfNewResources/js/bootstrap-datepicker.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.acfNewResources,'acfNewResources/js/bootstrap-datepicker.min.js')}"/>
-->

<script>
 $(document).ready(function ()
    {
        $('#datepicker').datepicker();
        $("#datepicker").on("changeDate", function(event) {
          
            $('[id$=my_hidden_input]').val(
                $("#datepicker").datepicker('getFormattedDate')
             )
             
      
        });
    });   
</script>
<apex:form >
<apex:pageBlock >
<apex:pageBlockSection >
<div id="datepicker" data-date="26/04/2014"></div>
  <!-- <input type="hidden" id="my_hidden_input" /> -->
  <apex:inputText id="my_hidden_input" ></apex:inputText>
  </apex:pageBlockSection>
  </apex:pageBlock>
  
<c:ClickChangePassword />
</apex:form>
<c:acfTalkToHuman ></c:acfTalkToHuman>
<!--
<div id="changepwdPopUp" class="pop-up-form displaynone" >
        <div id="divfaded12" class="faded" style="z-index:10;">&nbsp;</div>
        <a href="#" class="pop-close">Close<span class="fa fa-close">&nbsp;</span></a>
        <apex:form id="reset_form">
            <c:acfChangePassword id="reset_pass"></c:acfChangePassword>
         </apex:form>
    </div>  -->
<!--
  <div class="container">
    <div class="col-sm-6">
        <div class="form-group">
            <div class="row">
                <div class="col-md-8">
                    <div id="datetimepicker12"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker12').datetimepicker({
                inline: true,
                sideBySide: false
            });
        });
    </script>
</div>  -->
</apex:page>